---
layout: default
title: Miscellaneous
publications: passive
cv: passive
misc: active
---

{% include teaching.html %}

{% include courses.html %}

<!-- 
<div class="item border-bottom">
    <h3 class="text-muted">Awards</h3>
    <ul class="courses">
        <li>National Defense Science and Engineering Graduate (NDSEG) Fellowship</li>
        <li>CSE Educators Endowed Fellowship in Computer Science and Engineering (internal UW fellowship)</li>
        <li>Draper Laboratory Fellowship (declined)</li>
    </ul>                
</div>  
 -->

<div class="item border-bottom">
    <h3 class="text-muted">Hobbies</h3>
    <ul class="courses">
        <li><b>Tae Kwon Do</b>: I have received medals from national and international tournaments.</li>
        <li><b>Keyboard</b>: I have played in bands around the California Bay Area including: <a href="http://www.consonancegospel.com/">Consonance</a>, <a href="http://whatthefunk11.com/">What the Funk</a>.</li>
    </ul>                
</div>  

<div class="item">
    <h3 class="text-muted">Blog</h3>
    <p>I maintain a <a target="_blank" href="https://chrisdxie.wordpress.com/" >blog</a> where I post tutorials and other interesting things I run into.</p>
</div>  