<div class="item">

    <h3 class="text-muted">Publications</h3>

    <ol class="recent_news">
        {% for item in site.data.publications %}
            <li>
                <b>{{ item.title }}</b>
                <br/>

                {{ item.authors }}
                <br/>

                <i>{{ item.venue }}</i>, {{ item.year }}. 
                {% if item.award %}<b>{{ item.award }}</b> {% endif %}
                <br/>

                {% if item.pdf_link %} <a target="_blank" href="{{ item.pdf_link }}">PDF</a> &nbsp;{% endif %} 
                {% if item.pdf_forthcoming %} (PDF Forthcoming) {% endif %}
                {% if item.arxiv %} <a target="_blank" href="{{ item.arxiv }}">arXiv</a> &nbsp;{% endif %}
                {% if item.arxiv_long %} <a target="_blank" href="{{ item.arxiv_long }}">Long paper (arXiv)</a> &nbsp;{% endif %}
                {% if item.code %} <a target="_blank" href="{{ item.code }}">Code</a> &nbsp;{% endif %}
                {% if item.poster %} <a target="_blank" href="{{ item.poster }}">Poster</a> &nbsp;{% endif %}
                {% if item.video_link %} <a target="_blank" href="{{ item.video_link }}">Video</a> &nbsp;{% endif %}
            </li>
            <br/>
        {% endfor %}
    </ol>
